@page "/cargando"
@inject NavigationManager NavigationManager

<h3>Espere, estamos procesando su pedido</h3>

<img src="loading(1).gif" alt="Imagen de carga">

@code {
    private async Task RedireccionarDespuesDeUnTiempo()
    {
        await Task.Delay(5000); // Espera 5 segundos (ajusta el tiempo según tus necesidades)
        NavigationManager.NavigateTo("/confirmacion");
    }

    protected override async Task OnInitializedAsync()
    {
        await RedireccionarDespuesDeUnTiempo();
    }
}

