@page "/cargando"
@inject NavigationManager NavigationManager

<head>
    <style>
        .centered-gif {
            display: block; /* Hacer que la imagen sea un bloque para poder centrarla */
            margin: 0 auto; /* Margen automático en los lados izquierdo y derecho para centrarla horizontalmente */
        }
    </style>
</head>

<h3>Espere, estamos procesando su pedido</h3>

<img src="loading(1).gif" alt="Imagen de carga">

@code {
    private async Task RedireccionarDespuesDeUnTiempo()
    {
        await Task.Delay(5000); // Espera 5 segundos antes de ir a la pagina de confirmación
        NavigationManager.NavigateTo("/confirmacion");
    }

    protected override async Task OnInitializedAsync()
    {
        await RedireccionarDespuesDeUnTiempo();
    }
}

