@page "/confirmacion"
@inject NavigationManager NavigationManager

<h3>¡Gracias por su compra!</h3>

<img src="loading.gif" alt="Imagen de exito">

<button class="btn btn-primary" @onclick="Volver">Volver</button>

@code {
    private void Volver()
    {
        NavigationManager.NavigateTo("/direccion-entrega");
    }
}
