@page "/confirmacion"
@inject NavigationManager NavigationManager
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<head>
    <style>
        .centered-gif {
            display: block;  /* Hacer que la imagen sea un bloque para poder centrarla */
            margin: 0 auto;   /* Margen automático en los lados izquierdo y derecho para centrarla horizontalmente */
        }
    </style>
</head>

<h3><strong>¡Gracias por su compra!</strong></h3>

<img src="loading.gif" alt="Imagen de exito" class="centered-gif">

<button class="btn btn-volver" @onclick="Volver">
    <i class="fas fa-arrow-left"></i> Volver
</button>

@code {
    private void Volver()
    {
        NavigationManager.NavigateTo("/direccion-entrega");
    }
}
