@page "/confirmacion"
@inject NavigationManager NavigationManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Animación de carga</title>
</head>
<body>
    <div class="loading">
        <img src="loading.gif" alt="Animación de carga">
    </div>

    <script>

        // Esta función se ejecuta cuando la página se carga
        window.onload = function() {
            // Muestra la animación de carga
            document.querySelector(".loading").classList.add("active");

            // Simula la carga de la transacción
            var animation = function() {
                // Actualiza la animación
                // ...

                // Solicita el siguiente fotograma
                requestAnimationFrame(animation);
            };

            // Inicia la animación
            animation();

            await Task.Delay(TimeSpan.FromSeconds(6));

            NavigationManager.NavigateTo("/direccion-entrega");

        };
    </script>
</body>
</html>
